.grid {
  display: grid;
  border: 2px blue solid;
  height: 500px;
  width:500px;
  grid-template: repeat(4, 1fr 2fr) / repeat(4, 3fr 2fr);
  grid-gap: 5px;
}

.a {
  grid-row: 5 / 7;
  grid-column: 1/ span 2;
}

.box {
  background-color: beige;
  color: black;
  border-radius: 5px;
  border: 2px dodgerblue solid;
}
.b {
  grid-column: 2/ span 6;
  grid-row: 2/ span 3;
}
/*Apply the same information just learned about grid-row. Grid-column-start and grid-column-end are the same as using grid-column. "Span" may be used to start or end a column relative to is other end (avoids being off by one)*/
